@model MicrobiologyLab.Models.Collaboration

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Collaboration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="User_Id" class="control-label"></label>
                <input asp-for="User_Id" class="form-control" />
                <span asp-validation-for="User_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Col_name" class="control-label"></label>
                <input asp-for="Col_name" class="form-control" />
                <span asp-validation-for="Col_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="institute" class="control-label"></label>
                <input asp-for="institute" class="form-control" />
                <span asp-validation-for="institute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="proj_Title" class="control-label"></label>
                <input asp-for="proj_Title" class="form-control" />
                <span asp-validation-for="proj_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compounds" class="control-label"></label>
                <input asp-for="Compounds" class="form-control" />
                <span asp-validation-for="Compounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test" class="control-label"></label>
                <input asp-for="Test" class="form-control" />
                <span asp-validation-for="Test" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
