@model MicrobiologyLab.Models.IncomingProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>IncomingProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="pr_id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label"></label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exdate" class="control-label"></label>
                <input asp-for="exdate" class="form-control" />
                <span asp-validation-for="exdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="additionnalNotes" class="control-label"></label>
                <input asp-for="additionnalNotes" class="form-control" />
                <span asp-validation-for="additionnalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="arrdate" class="control-label"></label>
                <input asp-for="arrdate" class="form-control" />
                <span asp-validation-for="arrdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <select asp-for="id" class="form-control" asp-items="ViewBag.id"></select>
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comp_id" class="control-label"></label>
                <select asp-for="comp_id" class="form-control" asp-items="ViewBag.comp_id"></select>
                <span asp-validation-for="comp_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
